body{
  margin: 0;
  padding: 0;
  background-color: white;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: VerbenaC; /* Имя шрифта */
  src: url(fonts/17007.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: ItalicText; /* Имя шрифта */
  src: url(fonts/17008.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: DefaultText; /* Имя шрифта */
  src: url(fonts/16857.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Herr Von Muellerhoff; /* Имя шрифта */
  src: url(fonts/HerrVonMuellerhoff-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat; /* Имя шрифта */
  src: url(fonts/montserrat.ttf); /* Путь к файлу со шрифтом */
}

/* .scrollBlock:nth-child(0){
  overflow-x: hidden;
} */

#root {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.routerContent{
  height: fit-content;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.Preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999999;
  transition: 0.3s;
  background-image: url(https://www.transparenttextures.com/patterns/xv.png)
}

.Preloader .loadingAnimation svg, .Preloader .loadingAnimation div {
  margin-left: -50px;
  margin-top: -50px;
  left: 50%;
  top: 50%;
  position: absolute;
  overflow: visible;
}

.Preloader .loadingAnimation .pet1 {
  fill: rgba(255, 86, 86, 0.75);
  animation: rotate 1s linear infinite;
}

.Preloader .loadingAnimation .pet2 {
  fill: rgba(157, 73, 73, 0.75);
  animation: rotate 2s linear infinite;
}

.Preloader .loadingAnimation .pet3 {
  fill: rgba(217, 64, 64, 0.75);
  animation: rotate 1s linear infinite reverse;
}

.Preloader.fadeout{
  opacity: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* #scrollBlock div:nth-child(1){
  overflow-x: hidden;
} */

.contentData, .datablock{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fcfcfc;
}

.thumb-vertical{
  background-color: #8f416e;
  cursor: pointer;
  display: none;
}

.toTopButton{
  position: fixed;
  z-index: -10;
  right: 10px;
  bottom: 10px;
  width: 45px;
  height: 45px;
  background-color: #fc7272;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-radius: 5px;
  border: 4px solid rgba(246, 74, 95, 0.27);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.toTopButton.showTopBtn{
  z-index: 20;
  opacity: 1;
}

.fontAwesomHref{

}

.content1024{
  max-width: 1224px;
  margin: auto;
  position: relative;
}

.content1000{
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.contentFull{
  max-width: calc(100% - 200px);
  margin: auto;
  position: relative;
}

.blockBigTitle{
  text-align: center;
  font-family: DefaultText;
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  padding-top: 40px;
  position: relative;
  text-transform: uppercase;
}

.blockBigTitle h2{
  font-family: "Herr Von Muellerhoff", Sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 40px;
  color: #fc84b4;
  padding: 0;
  width: fit-content;
  margin: 0;
  margin-left: -30px;
  text-transform: lowercase;
}

/** Menu **/
.topMenu{
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 20;
  left: 0;
  max-width: 100%;
  color: white;
  transition: 0.3s;
  border-bottom: 1px solid white;
}

.topMenu .content1024{
  position: static;
}

.leftTop{
  position: absolute;
  bottom: calc(100% + 20px);
  z-index: 1;
  left: 80px;
}

.leftTop img{
  max-height: 125px;
}

.menuBtnTopBlock{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: DefaultText;
  font-weight: bold;
  letter-spacing: 3px;
}

.menuButton{
  display: inline-block;
  text-transform: uppercase;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.menuButton:hover{
  color: #e33271;
}

.searchBlock{
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.menuRight{
  font-family: DefaultText;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  font-size: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

.menuRight div{
  display: inline-block;
  margin: 0 5px;
}

.authBtn{
  cursor: pointer;
}

.verticalLine{
  height: 10px;
  width: 1px;
  background-color: white;
  position: relative;
}

.menuLeft{
  position: absolute;
  left: 10px;
  font-size: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

.menuLeft .socials_mini_icon{
  display: inline-block;
  font-size: 22px;
  margin: 0 5px;
}

.menuLeft .socials_mini_icon a{
  color: white;
}

.topMenu.scrollMenu{
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #281e14;
  position: fixed;
}

.topMenu.scrollMenu .menuLeft .socials_mini_icon a, .topMenu.scrollMenu{
  color: black;
}
/** header **/
.headerBlock{

}

.backgroundFilter{
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(252, 252, 252, 0.14);
  z-index: 1;
  /* background-image: url(https://www.transparenttextures.com/patterns/batthern.png); */
  background-image: url(https://www.transparenttextures.com/patterns/xv.png);
}

.bigLogotype{
  position: absolute;
  width: 100%;
  /* height: 100%; */
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 50px);
}
.bigLogotype img{

}
.headerBackground{
  position: relative;
  width: 100%;
  height: 100%;
}

/* .headerBackground::after{
  background: transparent url(../data/images/anim_svg.svg) top no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  bottom: -2px;
  background-position: 100% calc(100% + 170px);
} */
.videoBlock{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.videoBlock video{
  min-height: 100%;
  min-width: 100%;
}

.snimationSVG{
  position: absolute;
  left: 0;
  bottom: -125px;
  width: 100%;
  height: 100%;
}

.snimationSVG div{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider .wrapper {
  height: 100vh;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  will-change: transform;
}
.slider .arrows {
  position: absolute;
  top: 50%;
  background: none;
  height: 60px;
  border: 0;
  cursor: pointer;
  transition: ease .3s all;
  outline: none;
}
.slider .arrows.prev {
  left: 0;
}
.slider .arrows.prev:hover {
  opacity: .7;
  left: -10px;
}
.slider .arrows.next {
  right: 0;
}
.slider .arrows.next:hover {
  right: -10px;
  opacity: .7;
}
.slider .dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 30px;
  bottom: 9px;
  z-index: 10;
  list-style-type: none;
}
.dots{
  width: 10px;
  height: 10px;
  border: 2px solid #ee3f81;
  display: inline-block;
  margin: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.undefined.dots{

}
.active.dots{
  background: #fc7272;
}

.slider .dots-container li {
  display: inline-block;
  padding: 5px;
}
.slider .dots-container li.active a {
  color: #00D8FF;
}
.slider .dots-container li a {
  color: #fff;
}
.slider .dots-container li a:hover {
  text-decoration: none;
  opacity: .7;
  cursor: pointer;
}
.slider .toggle-play {
  height: auto;
  position: absolute;
  width: auto;
  right: 15px;
  bottom: 9px;
  color: #3d3d3d;
  z-index: 10;
}
.slider .toggle-play:hover {
  text-decoration: none;
  opacity: .7;
  cursor: pointer;
}
.slider .each-slide {
  width: 100vw;
  height: 100vh;
  float: left;
  /* line-height: 100vh; */
  /* font-size: 40vh; */
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  position: relative;
}

.arrowsPrewAnfNext{
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.headerInfo{
  position: absolute;
  max-width: 500px;
  height: auto;
  left: 120px;
  top: 50%;
  transform: translate(0px, -50%);
  padding: 15px;
}

.headerInfoTitle{
  color: #fc7272;
  text-transform: uppercase;
  font-size: 70px;
  font-family: DefaultText;
  letter-spacing: 0px;
  position: absolute;
  font-weight: bold;
  bottom: calc(100% + -15px);
  left: 0;
  width: 100%;
  white-space: nowrap;
  text-shadow: 3px 3px 0px #e3a2a2;
}

.headerInfoText{
  color: #0a0a31;
  font-size: 20px;
  font-family: DefaultText;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 22px;
}

.headerInfoBottom{
  font-family: ItalicText;
  position: absolute;
  right: -18px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  bottom: -50px;
}

/** About **/
.aboutBlock{
  height: auto;
}

.aboutBlockData{

}

.aboutSection{
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  background-size: cover;
  background-image: url(https://ld-wp.template-help.com/wordpress_64390/wp-content/uploads/2016/10/bg2.jpg);
  padding-top: 30px;
  padding-bottom: 200px;
}

.aboutSection .container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.rowbox{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  box-sizing: border-box;
}

.rowcolumn{
  position: relative;
  min-height: 1px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  float: left;
  order: 1;
  background-size: cover;
  background-position: center;
  flex: 0 0 50%;
  max-width: calc(50% - 85px);
  font-family: DefaultText;
}

.tm_pb_text{
  font-style: italic;
  font-size: 23px;
  color: #1d1d1d !important;
  letter-spacing: 0em;
}

.fullDetails{
  padding: 10px;
  padding-bottom: 150px;
  font-family: DefaultText;
  margin-top: -100px;
  z-index: 10;
  position: relative;
  /* background-color: #fcfcfc; */
  font-size: 18px;
}

/** статистика **/
.statisticBlock{
  background-image: url(../data/images/medistart-19.jpg);
  height: auto;
  background-attachment: fixed;
}

.statistic_block{

}

.statistic_background,.statistic_block{
  display: inline-block;
}

.statistic_block{
  position: absolute;
  right: 0;
  top: -40px;
  width: calc(100% - 364px);
  height: 100%;
}

.statistic_background img{
  max-height: 500px;
  margin-top: -100px;
}

.statisticIcon{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #f8526b;
  margin-top: -30px;
}

.statisticIcon svg{
  background-color: white;
}

.statisticText{
  font-family: DefaultText;
  text-align: center;
  height: 250px;
  position: relative;
}

.statisticText .servicesButton{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0);
}

.statistic_block .statisticDate{
  width: calc(100% / 3 - 12px);
  margin: 5px;
  background-color: #ffffff;
  height: calc(100% - 100px);
  display: inline-table;
  border-radius: 0;
  border-top: 1px solid #f64a5f;
  transition: 0.3s;
  background-image: linear-gradient(0deg, rgb(248, 248, 248), white);
}

.statistic_block .statisticDate:hover{
  transform: scale(1.05);
}

/** Услуги **/
.servicesBlock{
  height: auto;
  padding-bottom: 50px;
}

.servicesTable{
  position: relative;
  width: 100%;
  height: 100%;
}

.serviceBtn{
  position: absolute;
  top: 50%;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.serviceBtn:hover{
  opacity: 1;
}

.nextService{
  right: -20px;
}

.prevService{
  left: -20px;
}

.servicesData{
  position: relative;
  width: calc(100% / 3 - 10px);
  height: 100%;
  display: inline-grid;
  margin-top: 40px;
  margin: 40px 5px 0 5px;
  padding-bottom: 10px;
}

.serviceIcon{
  margin: auto;
  width: 100px;
  height: 100px;
  background-image: url(../data/images/beauty-salon.png);
  background-size: 300px;
}

.serviceTitle{
  text-align: center;
  text-transform: uppercase;
  font-family: DefaultText;
  font-size: 22px;
  padding-bottom: 10px;
}

.servicePodTitle{
  text-align: center;
  text-transform: uppercase;
  font-family: DefaultText;
  font-size: 14px;
  color: #9b0000;
  font-style: italic;
}

.serviceText{
  text-transform: uppercase;
  font-family: DefaultText;
  font-size: 14px;
  margin: auto;
  width: calc(100% - 70px);
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid pink;
  border-bottom: 1px solid pink;
  padding-bottom: 20px;
}

.servicesButton{
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  padding: 10px 35px;
  background-color: #f64a5f;
  color: white;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: DefaultText;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.servicesButton:hover{
  background-color: #c53244;
  box-shadow: 2px 2px 0px 0px #891826;
}

/** Персонал **/
.staffBlock{
  height: auto;
  padding-bottom: 100px;
}

.staffTable{
  width: fit-content;
  margin: auto;
}

.staffContainer{
  display: inline-block;
  width: 190px;
  height: 190px;
  margin: 20px;
  position: relative;
  text-align: center;
  border: 2px solid #fc84b4;
  cursor: pointer;
  border-radius: 1000px;
}

.staffContainer::after{
  content: '';
  position: absolute;
  top: 100%;
  height: 30px;
  width: 2px;
  background-color: #fc84b4;
}

.staffContainer img{
  max-width: 100%;
  border-radius: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
}

.staffInfoData{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: calc(100% + 35px);
  white-space: nowrap;
  font-family: DefaultText;
  color: #df6998;
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
}

.staffInfoData .staffInfoDataName{
    font-size: 18px;
}

.staffInfoData .staffInfoDataJob{
  font-size: 14px;
  opacity: 0.7;
}

.socialsMiniStaff{
  width: fit-content;
  margin: auto;
  padding-top: 0px;
  border-top: 1px solid #ca2a6a;
  margin-top: 5px;
}

.socialsMiniStaff .socials_mini_icon{
  display: inline-grid;
  margin: 5px;
  font-size: 20px;
}

.socialsMiniStaff .socials_mini_icon a{
  color: #ca2a6a;
}

.detailsStaffs{
  width: 100%;
  margin-top: 110px;
  border-top: 1px solid pink;
}

.fontAwesomHref{
  position: absolute;
  left: 50%;
  top: -16px;
  font-size: 35px;
  color: pink;
  background-color: white;
  padding: 0 10px;
  transform: translate(-50%, 0);
}

.detailsStaffText{
  width: calc(100% - 60px);
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-family: DefaultText;
  color: #4d132a;
  font-size: 20px;
}


/** Рассылка **/
.newsletterBlock{
  height: 200px;
  background-color: #ffa6bb;
  background-image: url(https://ld-wp.template-help.com/wordpress_62118/wp-content/uploads/2016/06/bg1.jpg);
  background-size: cover;
  background-position: top;
}

.newsletterdata{

}

.newsletterTitle{
  font-family: VerbenaC;
  text-align: center;
  font-size: 41px;
  color: #78000f;
  left: 50%;
  white-space: nowrap;
  padding-top: 30px;
}

.newsletterEmail{
  width: calc(100% - 300px);
  padding-top: 30px;
  margin: auto;
}

.newsletterEmail .emailarea{
  width: calc(100% - 164px);
  display: inline-block;
  height: 36px;
  padding-left: 10px;
  border: 1px solid #f64a5f;
  border-radius: 3px 0 0 3px;
}

.newsletterEmail .emailbtn{
  width: 150px;
  display: inline-block;
  border: 0;
  height: 40px;
  text-transform: uppercase;
  background-color: #f64a5f;
  color: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

/** Галерея **/
.galleryBlock{
  height: fit-content;
}

.galleryPhoto{
  margin: -2px 0;
  padding: 0;
  display: inline-block;
  width: calc(100% / 4);
  overflow: hidden;
  height: 340px;
  position: relative;
  cursor: pointer;
}

.hoverImage{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  transition: 0.3s;
}
.galleryPhoto:hover .hoverImage{
  opacity: 1;
}

.galleryPhoto:hover img{
  transform: translate(-50%, 0) scale(1.1);
  filter: blur(3px);
}

.galleryPhoto img{
  max-height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.3s;
  min-height: 100%;
}

/** Отзывы **/
.reviewsBlock{
  height: auto;
}

.reviewsBlock .contentFull{
  padding-top: 30px;
}

.reviewsData{
  width: calc(100% / 2 - 40px);
  display: inline-flex;
  background-color: #fff0f3;
  margin: 10px;
  padding: 10px;
  height: 130px;
}

.reviewsDataRow{
  width: 100px;
  display: inline-block;
}

.reviewsDataUserPhoto{
  border-radius: 150px;
  overflow: hidden;
  width: fit-content;
  width: 92px;
  height: 92px;
}

.reviewsDataUserPhoto img{
  max-width: 92px;
  max-height:92px;
}

.contentRowReviews{
  width: calc(100% - 100px);
  font-family: DefaultText;
  position: relative;
}

.reviewsDataText{
    margin-bottom: 10px;
}

.reviewsDataStars{
  color: #ff6f88;
  position: absolute;
  right: 0;
  bottom: 0;
}

.reviewsDataUsers{
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f64a5f;
  width: 100%;
  padding-bottom: 8px;
}

.reviewsDataDate{
  right: 0px;
  bottom: 0;
  color: silver;
}

/** Связь **/

.feedBackBlock{
  height: auto;
}

.feedBackData{
  font-family: DefaultText;
  font-size: 20px;
  max-width: 800px;
  margin: auto;
}

.block60feed{
  display: inline-grid;
  width: 60%;
}

.block40feed{
  display: inline-grid;
  width: 40%;
}

.contactLine{
  margin-bottom: 10px;
}

.contactLine .contactLineTitle{
  font-weight: bold;
  cursor: default;
}

.contactLine .contactLineData{
  cursor: pointer;
}

.contactLine .microButton{
  cursor: pointer;
  margin: 10px 0 0 0;
  font-size: 11px;
  padding: 8px 15px;
}

.formLineData{
  position: relative;
  width: 100%;
  padding-top: 5px;
}

.formLineData label{
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 15px;
}

.formLineData input[type=text]{
  width: calc(100% - 10px);
  height: 30px;
  border-radius: 3px;
  border: 1px solid #f64a5f;
  padding-left: 10px;
  border-bottom-width: 4px;
}

.formLineData textarea{
  width: calc(100% - 13px);
  height: 100px;
  border-radius: 3px;
  border: 1px solid #f64a5f;
  padding-left: 10px;
  border-bottom-width: 4px;
  resize: none;
}
.formLineData.buttonLine{
  padding-top: 0;
  height: 42px;
}
.formLineData .clearMessage, .formLineData .sendMessage{
  margin: 0;
  display: inline-block;
  width: calc(50% - 5px);
  padding: 10px 0;
  text-align: center;
}

.formLineData .clearMessage{
  margin: 0 0 0 5px;
}

.formLineData .sendMessage{
  margin: 0 5px 0 0;
  background-color: #6cb863;
}

input:focus {
  outline: none;
}

/** Карта **/
.mapBlock{
    height: 600px;
}

.mapBlock:before {
    background: transparent url(../data/images/volna.svg) top no-repeat;
    background-size: 3000px 151px;
    content: "";
    display: block;
    height: 151px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -5px;
    filter: invert(1) contrast(1.26);
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

/** Футер **/
.footerBlock{
  background-color: #1b1d1e;
  height: auto;
  padding-bottom: 30px;
  color: white;
  font-family: DefaultText;
}

.footerBlock:before {
  background: transparent url(../data/images/volna.svg) top no-repeat;
  background-size: 3000px 151px;
  content: "";
  display: block;
  height: 151px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: calc(100% - 5px);
}

.footerblockdata{
  display: inline-block;
  font-family: DefaultText;
  width: 33%;
}

.footerblockdata.dataLeft{
  text-align: left;
}

.footerblockdata.dataCenter{
  text-align: center;
}

.footerblockdata.dataRight{
  text-align: right;
}

.footerblockdata .footerNavMenuBtn{
  text-transform: uppercase;
  margin: 3px 0 3px 0;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.footerblockdata .footerNavMenuBtn:hover{
  opacity: 1;
}

.footerblockdata.dataCenter .footerLogotype{
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
}

.footerAuthor a {
    color: #ffa63f;
    margin-left: 5px;
    letter-spacing: 1px;
}

.footerblockdata.dataCenter .footerLogotype img{
  max-width: 300px;
}

.footerblockdata.dataCenter .footerCopiright{
  opacity: 0.6;
}
.footerblockdata.dataCenter .footerAuthor{
  opacity: 0.6;
  margin-top: 25px;
  padding-top: 5px;
  width: fit-content;
  margin: auto;
  border-top: 1px solid white;
  display: inline-block;
}

.footerNavMenuBtnSocials .socials_mini_icon{
  display: inline-block;
  margin: 5px;
  opacity: 0.6;
}
.footerNavMenuBtnSocials .socials_mini_icon a{
  color: white;
}

.mobileMenuBtn{
  display: none;
}

.toTopFooter{
  display: none;
}

/** Фото модал **/
.imageModal{
  position: fixed;
  z-index: 21;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.79);
  left: 0;
  top: 0;
  height: 100%;
}
.imageModal.hiden{
  display: none;
}

.imageModal .imageModalBlock{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 20px);
}

.closeimageModal{
  position: absolute;
  right: 0px;
  top: -30px;
  color: silver;
  cursor: pointer;
  font-size: 30px;
}

.imageModal .imageModalBlock img{
  max-width: 100%;
}


/* <div className="headerInfo">
  <div className="headerInfoTitle" data-descr="Салон красоты">
    Салон красоты
  </div>
  <div className="headerInfoText">
    «Настоящее волшебство» - вот как описывают клиенты работу профессионала.
    <br/>
    Удивительно, как изменения внешности способны повлиять на жизнь человека!
  </div>
</div> */
